@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* colors */
:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}
html {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}
div.container-maxi {
    background-color: var(--LightGrayishBlue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */
div.container-mini {
    display: flex;
    max-width: 786px;
}

/* container DRAWER */
div.container-drawers-image {
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    width: 111%;
    background-repeat: no-repeat;
    background-position: -7px;
}

/* container TEXTS */
div.container-text {
    background-color: #FFFFFF;
    border-radius: 0 20px 20px 0;
    padding: 28px 35px;
}
div.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 11px;
}
div.profile-info {
    display: inherit;
}
div.profile-info img {
    border-radius: 100%;
    width: 42px;
    height: 42px;
}
div.profile-texts {
    display: grid;
    grid-gap: 4px;
    margin-left: 16px;
    align-content: center;
}
div.share-btn {
    padding: 10px;
    background-color: var(--LightGrayishBlue);
    border-radius: 100%;
    cursor: pointer;
}

/* TYPOGRAPHY */
h1 {
    line-height: 30px;
}
h1, h3 {
    color:hsl(217, 19%, 35%);  
}
div.profile-texts h3#date {
    color: hsl(212, 23%, 69%);
    font-weight: 500;
    letter-spacing: .5px;
    color:hsl(214, 17%, 51%) !important;
}
p {
    color:hsl(214, 17%, 51%);
    padding: 20px 0;
    line-height: 21px;
    font-size: 1.2rem;
    letter-spacing: 0.px;
}

/* SOCIAL LINKS */
nav.social-links div.share-btn {
    background-color:hsl(214, 17%, 51%) ;
}
nav.social-links div.share-btn svg path {
    fill:hsl(210, 46%, 95%);
}
nav.social-links {
    background-color:hsl(217, 19%, 35%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    /* display: none; */
}
nav.social-links li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color:hsl(213.7, 16.9%, 52.4%);
}

/* MEDIA QUERY RESPONSIVENESS */
@media screen and (min-width: 701px) {
    nav.social-links {
        border-radius: 15px;
        height: 40px;
        padding: 29px 24px;
        position: absolute;
        left: 76.5%;
        top: 48%;
        box-shadow: 3px 3px 10px 0px hsl(217deg 19% 35% / 49%);
    }
    nav a {
        letter-spacing: 7px;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav.social-links div.share-btn {
        display: none;
    }
    nav.social-links::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 13px;
        border-style: solid;
        border-color: #48556a transparent transparent transparent;
        /* box-shadow: 0px -24px 16px 0px hsl(217deg 19% 35%); */
    }
}
@media screen and (max-width: 800px) {
    div.container-mini {
        max-width: 95%;
    }
    .container-drawers-image {
        background-position: 2px;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 27px;
    }
}
@media screen and (max-width: 768px) {
    div.container-text {
        padding: 33px; 
    }
    div.container-drawers-image {
        background-position: -2px;
    }
    p {
        padding: 10px 0 20px;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}
@media screen and (max-width: 700px) {
    div.container-maxi {
        display: flex;
    }
    div.container-mini {
        flex-direction: column;
        width: 348px;
        overflow: hidden;
    }
    div.container-drawers-image {
        height: 233px;
        border-radius: 15px 15px 0 0;
        width: 100%;
        background-position-y: 2px;
    }
    div.container-text {
        padding: 33px 40px 25px;
        border-radius: 0 0 15px 15px;
    }
    h1{
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    p {
        font-size: 1.08rem;
        line-height: 1.5rem;
    }
    div.profile-texts {
        grid-gap: 2px;
        margin-left: 13px;
    }
    div.profile-info img {
        width: 30px;
        height: 30px;
    }
    h3 {
        font-size: 11px;
    }
    div.share-btn {
        padding: 7px;
    }
    nav.social-links {        
        display: flex;
        justify-content: space-between;
        padding: 13px 41px;
        border-radius: 0 0 15px 15px;
        position: relative;
        bottom: 58px;
    }
    nav a {
        letter-spacing: 5px;
    }
    nav.social-links ul {
        margin-right: 40px;
    }
    nav.social-links li {
        padding: 0 5px;
    }
}
@media screen and (max-width: 330px){
    div.container-text {
        padding: 20px 20px 25px;
    }
    nav.social-links {
        padding: 13px 20px
    }
}